@import "tailwindcss";

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3748; /* gray-800 */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* gray-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* gray-500 */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748; /* thumb and track color */
}

.btn {
  @apply px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-300 disabled:opacity-50;
}

.btn-danger {
  @apply px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 disabled:opacity-50;
}
